# Notebook: Create OPA2VEC associations file
<b>Author</b>: Ian Coleman <br/>
<b>Function</b>: Get genes associated with diseases (disgenet) and chemicals (ctdbase), take their go functions and assign to the associated chem/dis in an associations file. Also output finalclasses.lst, a file that tells opa2vec which entities you would like the vectors for

In [1]:
import pandas as pd
import numpy as np
import subprocess

### 1. Get Uniprot ID set for each Gene

In [2]:
# CHEMICALS
# Import CTD file to get the geneIDs we want 
df_cg = pd.read_csv('../ctd-to-nt/csvs/CTD_chem_gene_ixns.csv', skiprows=27)
df_cg = df_cg.drop(0)

# Cut down to just humans if you want to
df_cg = df_cg.loc[df_cg['OrganismID'] == 9606.0]

# Need to change float to int for the url to work
df_cg['GeneID'] = df_cg.GeneID.astype(int)

In [3]:
# # DISEASES
# # Import DisGeNet with disease IDs and Gene IDs
# df_cgd = pd.read_csv('../disgenet-nt/input_tsvs/curated_gene_disease_associations.tsv', sep='\t')

# # Limit by evidence Score 
# df_cgd = df_cgd[df_cgd.score >= 0.42]

In [4]:
df_cgd.head()

,geneId,geneSymbol,diseaseId,diseaseName,score,NofPmids,NofSnps,source
158,10002,NR2E3,C1849394,Enhanced S-Cone Syndrome,0.486319,7,7,CTD_human;UNIPROT
235,1001,CDH3,C1832162,"HYPOTRICHOSIS, CONGENITAL, WITH JUVENILE MACUL...",0.600000,1,3,CTD_human;ORPHANET;UNIPROT
241,1001,CDH3,C1857041,"Ectodermal dysplasia, ectrodactyly, and macula...",0.600824,1,2,CTD_human;ORPHANET;UNIPROT
586,10020,GNE,C1853926,NONAKA MYOPATHY,0.617857,12,23,CTD_human;ORPHANET;UNIPROT
837,100506658,OCLN,C3489725,Pseudo-TORCH syndrome,0.600824,1,4,CTD_human;ORPHANET;UNIPROT

In [11]:
# Alternative DISEASES --> Switching out DisGeNet for CTD (as they use UMLS/MESH respectively)
# Import preprepared g-d associations (from ctd-to-nt notebook) direct assocs only
df_cgd = pd.read_csv('../ctd-to-nt/gene-dis-pos-assocs.csv')
df_cgd['GeneID'] = df_cgd['GeneID'].astype(int)
df_cgd.head()

   GeneID     DiseaseID
0   50518  MESH:D003920
1   50518  MESH:D003924
2   50518  MESH:D008113
3   50518  MESH:D009369
4   50518  MESH:D009765

In [12]:
# # Create list of all associated GeneIDs for each of Chemicals and Diseases
cgene_ids = df_cg.GeneID.unique()
dgene_ids = df_cgd.GeneID.unique()

# Combine them
all_genes = set(cgene_ids).union(set(dgene_ids))

In [13]:
df_cgd.head()

   GeneID     DiseaseID
0   50518  MESH:D003920
1   50518  MESH:D003924
2   50518  MESH:D008113
3   50518  MESH:D009369
4   50518  MESH:D009765

In [14]:
# Write combined gene ids to file
with open('geneIDs.txt', 'w') as f:
    for item in all_genes:
        f.write("%s\n" % item)

In [26]:
# NOTE the next step is MANUAL
# You need to go to https://www.uniprot.org/uploadlists/ and give it the created geneIDs.txt file, ask it to convert
# entrez gene to uniprot ID. Then download this as uniprotIDs.txt (as uncompressed, mapping table)

##### Import the list of uniprot IDs

In [15]:
# Import manually generated file of geneID --> uniprotID
df_uni_ids = pd.read_csv('uniprotIDs.txt', sep='\t')
df_uni_ids.columns = ['GeneID', 'UniprotID']
df_uni_ids['GeneID'] = df_uni_ids.GeneID.astype(str)

In [16]:
# Some of the GeneIds are actually a couple of IDs on one row. Split them into multiple rows
df_uni_ids = pd.concat([pd.Series(row['UniprotID'], row['GeneID'].split(','))              
                    for _, row in df_uni_ids.iterrows()]).reset_index()
df_uni_ids.columns = ['GeneID', 'UniprotID']

##### Create merged df to enable grouping by chemicalID and diseaseID

In [18]:
# Create mapping file of gene ID to chem ID... and gene ID to disease ID 
cg_dict = dict(zip(df_cg.GeneID, df_cg.ChemicalID))
cgd_dict = dict(zip(df_cgd.GeneID, df_cgd.DiseaseID))

In [19]:
df_uni_ids.head()

   GeneID UniprotID
0       1    P04217
1       1    V9HWD8
2       2    P01023
3  131076    C9JQ41
4  131076    Q4VC31

In [20]:
df_uni_ids_d = df_uni_ids.copy() # make a copy for diseases

In [21]:
# Apply the mapping, thereby creating chemical column
df_uni_ids['ChemicalID'] = df_uni_ids.GeneID
df_uni_ids['ChemicalID'] = df_uni_ids['ChemicalID'].astype(int).map(cg_dict)

In [22]:
# Apply the mapping, thereby creating disease column
df_uni_ids_d['DiseaseID'] = df_uni_ids_d.GeneID
df_uni_ids_d['DiseaseID'] = df_uni_ids_d['DiseaseID'].astype(int).map(cgd_dict)

In [34]:
# # Output disease list, later used in nn notebook
# disease_list = df_uni_ids_d.DiseaseID.unique()
# len(disease_list)
# np.savetxt(r'diseases.lst', disease_list, fmt='%s')

In [55]:
## This establishes that the len of a disease id is always 8 while a chem is 7 or 10
# df_uni_ids['IDlen'] = df_uni_ids.ChemicalID.map(lambda x: len(x))
# df_uni_ids_d['IDlen'] = df_uni_ids_d.DiseaseID.map(lambda x: len(x))
# print(df_uni_ids.IDlen.unique())
# print(df_uni_ids_d.IDlen.unique())

##### Group by Chem ID

In [25]:
df_uni_ids.dropna().shape # 33381

(33381, 3)

In [26]:
df_uni_ids_d.dropna().shape #2914

(14385, 3)

### 2. Mine goa file, attaching go function for each uniprot ID to the parent chemical/gene

In [29]:
# import goa file (uniprot ID to go_functions)
go_funcs = pd.read_csv('../goa_human.gaf', header=None, skiprows=30, sep='\t')

/home/ian/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
# Cut out all cols except uniprot ids and go_funcs, rename these
go_funcs = go_funcs.rename(columns={ go_funcs.columns[1]: "UniprotID" })
go_funcs = go_funcs.rename(columns={ go_funcs.columns[4]: "gofunc" })
col_list = ['UniprotID', 'gofunc']
df_go = go_funcs[col_list]

In [31]:
# Merge the go functions into our existing chem-uniprotID and dis-uniprotID dfs
df_uni_ids_d = df_uni_ids_d.merge(df_go, on='UniprotID', how='outer').dropna()
df_uni_ids = df_uni_ids.merge(df_go, on='UniprotID', how='outer').dropna()

### 3. Prep and write to output file

In [34]:
df_uni_ids_d.head()

,GeneID,UniprotID,DiseaseID,gofunc,go_url
0,1,P04217,MESH:D012559,GO:0002576,<http://purl.obolibrary.org/obo/GO_0002576>
1,1,P04217,MESH:D012559,GO:0003674,<http://purl.obolibrary.org/obo/GO_0003674>
2,1,P04217,MESH:D012559,GO:0005576,<http://purl.obolibrary.org/obo/GO_0005576>
3,1,P04217,MESH:D012559,GO:0005576,<http://purl.obolibrary.org/obo/GO_0005576>
4,1,P04217,MESH:D012559,GO:0005576,<http://purl.obolibrary.org/obo/GO_0005576>

In [33]:
# Create a col with the full go url
df_uni_ids['go_url'] = '<' + 'http://purl.obolibrary.org/obo/' + df_uni_ids.gofunc.str.replace(':', '_')  + '>'
df_uni_ids_d['go_url'] =  '<' + 'http://purl.obolibrary.org/obo/' + df_uni_ids_d.gofunc.str.replace(':', '_')  + '>'

In [35]:
# Grab just the columns we want to output (diseaseID and go_url/ chemicalID and go_url)
col_list_c = ['ChemicalID', 'go_url']
col_list_d = ['DiseaseID', 'go_url']
df_c = df_uni_ids[col_list_c]
df_d = df_uni_ids_d[col_list_d]

In [46]:
# df_c.ChemicalID.unique()

In [47]:
df_d.DiseaseID.unique()

array(['C2750090', 'C0342708', 'C0039292', ..., 'C1847013', 'C1836027',
       'C1840390'], dtype=object)

In [36]:
# Output an association file for each of chem and dis
np.savetxt(r'associations_c.txt', df_c.values, fmt='%s')
np.savetxt(r'associations_d.txt', df_d.values, fmt='%s')

In [37]:
# Merge these two into one single file
subprocess.call('cat associations_* > myassociations', shell=True)

0

In [42]:
# Create entities.lst to inform opa2vec which entities we want vectors for
entities = df_d.DiseaseID.unique().tolist() + df_c.ChemicalID.unique().tolist()
np.savetxt(r'entities.lst', entities, fmt='%s')

In [ ]:
## NEXT STEP in pipeline is to manually run opa2vec, though it could be automated here...