# Notebook: Create OPA2VEC associations file
<b>Author</b>: Ian Coleman <br/>
<b>Function</b>: Get genes associated with diseases (disgenet) and chemicals (ctdbase), take their go functions and assign to the associated chem/dis in an associations file. Also output finalclasses.lst, a file that tells opa2vec which entities you would like the vectors for

In [33]:
import pandas as pd
import numpy as np
import subprocess

### 1. Get Uniprot ID set for each Gene

In [34]:
# CHEMICALS
# Import CTD file to get the geneIDs we want 
df_cg = pd.read_csv('../ctd-to-nt/csvs/CTD_chem_gene_ixns.csv', skiprows=27)
df_cg = df_cg.drop(0)

# Cut down to just humans if you want to
df_cg = df_cg.loc[df_cg['OrganismID'] == 9606.0]

# Need to change float to int for the url to work
df_cg['GeneID'] = df_cg.GeneID.astype(int)

In [35]:
# DISEASES
# Import DisGeNet with disease IDs and Gene IDs
df_cgd = pd.read_csv('../disgenet-nt/input_tsvs/curated_gene_disease_associations.tsv', sep='\t')

# Limit by evidence Score 
df_cgd = df_cgd[df_cgd.score >= 0.42]

In [36]:
# # Create list of all associated GeneIDs for each of Chemicals and Diseases
cgene_ids = df_cg.GeneID.unique()
dgene_ids = df_cgd.geneId.unique()

# Combine them
all_genes = set(cgene_ids).union(set(dgene_ids))

In [37]:
df_cgd.head()

,geneId,geneSymbol,diseaseId,diseaseName,score,NofPmids,NofSnps,source
158,10002,NR2E3,C1849394,Enhanced S-Cone Syndrome,0.486319,7,7,CTD_human;UNIPROT
235,1001,CDH3,C1832162,"HYPOTRICHOSIS, CONGENITAL, WITH JUVENILE MACUL...",0.600000,1,3,CTD_human;ORPHANET;UNIPROT
241,1001,CDH3,C1857041,"Ectodermal dysplasia, ectrodactyly, and macula...",0.600824,1,2,CTD_human;ORPHANET;UNIPROT
586,10020,GNE,C1853926,NONAKA MYOPATHY,0.617857,12,23,CTD_human;ORPHANET;UNIPROT
837,100506658,OCLN,C3489725,Pseudo-TORCH syndrome,0.600824,1,4,CTD_human;ORPHANET;UNIPROT

In [38]:
# Write combined gene ids to file
with open('geneIDs.txt', 'w') as f:
    for item in all_genes:
        f.write("%s\n" % item)

In [14]:
# NOTE the next step is MANUAL
# You need to go to https://www.uniprot.org/uploadlists/ and give it the created geneIDs.txt file, ask it to convert
# entrez gene to uniprot ID. Then download this as uniprotIDs.txt (as uncompressed, mapping table)

##### Import the list of uniprot IDs

In [39]:
# Import manually generated file of geneID --> uniprotID
df_uni_ids = pd.read_csv('uniprotIDs.txt', sep='\t')
df_uni_ids.columns = ['GeneID', 'UniprotID']
df_uni_ids['GeneID'] = df_uni_ids.GeneID.astype(str)

In [40]:
# Some of the GeneIds are actually a couple of IDs on one row. Split them into multiple rows
df_uni_ids = pd.concat([pd.Series(row['UniprotID'], row['GeneID'].split(','))              
                    for _, row in df_uni_ids.iterrows()]).reset_index()
df_uni_ids.columns = ['GeneID', 'UniprotID']

##### Create merged df to enable grouping by chemicalID and diseaseID

In [41]:
# Create mapping file of gene ID to chem ID... and gene ID to disease ID 
cg_dict = dict(zip(df_cg.GeneID, df_cg.ChemicalID))
cgd_dict = dict(zip(df_cgd.geneId, df_cgd.diseaseId))

In [42]:
df_uni_ids.head()

   GeneID UniprotID
0       1    P04217
1       1    V9HWD8
2       2    P01023
3  131076    C9JQ41
4  131076    Q4VC31

In [43]:
df_uni_ids_d = df_uni_ids.copy() # make a copy for diseases

In [44]:
# Apply the mapping, thereby creating chemical column
df_uni_ids['ChemicalID'] = df_uni_ids.GeneID
df_uni_ids['ChemicalID'] = df_uni_ids['ChemicalID'].astype(int).map(cg_dict)

In [45]:
# Apply the mapping, thereby creating disease column
df_uni_ids_d['DiseaseID'] = df_uni_ids_d.GeneID
df_uni_ids_d['DiseaseID'] = df_uni_ids_d['DiseaseID'].astype(int).map(cgd_dict)

In [46]:
# # Output disease list, later used in nn notebook
# disease_list = df_uni_ids_d.DiseaseID.unique()
# len(disease_list)
# np.savetxt(r'diseases.lst', disease_list, fmt='%s')

##### Group by Chem ID

In [47]:
df_uni_ids.dropna().shape # 33381

(33381, 3)

In [48]:
df_uni_ids_d.dropna().shape #2914

(2914, 3)

### 2. Mine goa file, attaching go function for each uniprot ID to the parent chemical/gene

In [49]:
# import goa file (uniprot ID to go_functions)
go_funcs = pd.read_csv('../goa_human.gaf', header=None, skiprows=30, sep='\t')

/home/ian/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [51]:
# Cut out all cols except uniprot ids and go_funcs, rename these
go_funcs = go_funcs.rename(columns={ go_funcs.columns[1]: "UniprotID" })
go_funcs = go_funcs.rename(columns={ go_funcs.columns[4]: "gofunc" })
col_list = ['UniprotID', 'gofunc']
df_go = go_funcs[col_list]

In [52]:
# Merge the go functions into our existing chem-uniprotID and dis-uniprotID dfs
df_uni_ids_d = df_uni_ids_d.merge(df_go, on='UniprotID', how='outer').dropna()
df_uni_ids = df_uni_ids.merge(df_go, on='UniprotID', how='outer').dropna()

### 3. Prep and write to output file

In [55]:
df_uni_ids_d.head()

,GeneID,UniprotID,DiseaseID,gofunc,go_url
174,16,P49588,C2750090,GO:0002161,<http://purl.obolibrary.org/obo/GO_0002161>
175,16,P49588,C2750090,GO:0002196,<http://purl.obolibrary.org/obo/GO_0002196>
176,16,P49588,C2750090,GO:0004813,<http://purl.obolibrary.org/obo/GO_0004813>
177,16,P49588,C2750090,GO:0004813,<http://purl.obolibrary.org/obo/GO_0004813>
178,16,P49588,C2750090,GO:0004813,<http://purl.obolibrary.org/obo/GO_0004813>

In [54]:
# Create a col with the full go url
df_uni_ids['go_url'] = '<' + 'http://purl.obolibrary.org/obo/' + df_uni_ids.gofunc.str.replace(':', '_')  + '>'
df_uni_ids_d['go_url'] =  '<' + 'http://purl.obolibrary.org/obo/' + df_uni_ids_d.gofunc.str.replace(':', '_')  + '>'

In [56]:
# Grab just the columns we want to output (diseaseID and go_url/ chemicalID and go_url)
col_list_c = ['ChemicalID', 'go_url']
col_list_d = ['DiseaseID', 'go_url']
df_c = df_uni_ids[col_list_c]
df_d = df_uni_ids_d[col_list_d]

In [74]:
df_c.ChemicalID.unique()

array(['D015032', 'C085514', 'C104536', 'C088658', 'D014635', 'D014810',
       'C111237', 'C097270', 'D014747', 'D015215', 'D024483', 'C014215',
       'D017973', 'C561695', 'D019287', 'D014212', 'C009680', 'D001335',
       'D014639', 'C016837', 'D013467', 'D000069470', 'D012822',
       'C028541', 'D014638', 'D014520', 'D014800', 'C574123', 'C438612',
       'C009695', 'D015016', 'D015034', 'C017947', 'C017803', 'D017632',
       'C013320', 'D019345', 'C089730', 'D015029', 'C519312', 'D017974',
       'C510150', 'C027368', 'D019820', 'D013749', 'C067172',
       'C000626624', 'C009687', 'C015001', 'C027373', 'D011374',
       'D014415', 'C424422', 'C041285', 'D015054', 'C011890', 'D014867',
       'D012524', 'D014801', 'C013738', 'D014750', 'D009532', 'D002762',
       'C012568', 'C403253', 'C049032', 'D015031', 'D014859', 'D017307',
       'C023616', 'C108830', 'D010100', 'D009589', 'C559490', 'C016805',
       'C464660', 'D014814', 'D000225', 'C057693', 'C005460', 'C059514',
       'D010936', 'C012589', 'C022189', 'D014700', 'C410228', 'C496197',
       'C017967', 'D001280', 'C492564', 'D013654', 'C066075', 'D014028',
       'D001564', 'C014347', 'D013755', 'D014992', 'C551177', 'C009495',
       'C094299', 'C519885', 'D011794', 'D019821', 'C086110', 'D014673',
       'C075257', 'C031238', 'D020123', 'C525423', 'D015056', 'C005556',
       'D013739', 'C100058', 'D010269', 'C016766', 'C029659', 'C070417',
       'C410337', 'C006253', 'D018501', 'D014580', 'C002802', 'D014241',
       'C034028', 'D013629', 'C089750', 'C052875', 'C062735', 'C515050',
       'C053228', 'D014874', 'C096486', 'C015582', 'D016604', 'C073339',
       'C020549', 'D002220', 'C102911', 'C451427', 'C011559', 'C009684',
       'C519688', 'C045971', 'C528105', 'C511404', 'D002104', 'D020122',
       'D014752', 'D009536', 'D008727', 'C518540', 'C488234', 'C489443',
       'C004648', 'D015039', 'C016104', 'D000068756', 'D011084',
       'C113580', 'C050414', 'C029938', 'C066632', 'D055549', 'C036986',
       'D014805', 'D010205', 'C049109', 'C010349', 'D013806', 'D015474',
       'D010758', 'C528884', 'D013752', 'D012906', 'D008741', 'C524947',
       'C060974', 'C118739', 'D017258', 'C011145', 'D007854', 'D065146',
       'D019327', 'D014217', 'D018038', 'D014807', 'C478783', 'C044361',
       'D012967', 'C092292', 'C511402', 'D008942', 'C024746', 'C557874',
       'D016572', 'C492448', 'C000593030', 'D014260', 'D047428',
       'C012526', 'C471405', 'D012643', 'D019207', 'D015040', 'C018475',
       'C511704', 'D014331', 'C078903', 'D015049', 'D014439', 'C008890',
       'C046012', 'D000069286', 'C061133', 'C000588915', 'D019256',
       'D008628', 'D011078', 'C010792', 'D009151', 'C529824', 'D015038',
       'C070927', 'C521013', 'C063449', 'D012256', 'D009249', 'D012972',
       'C496932', 'C020972', 'C021751', 'D012402', 'C002979', 'D006861',
       'C030852', 'D017638', 'D052638', 'C032910', 'D014051', 'D013849',
       'C544151', 'C000602510', 'D012293', 'C502851', 'C095179',
       'D007978', 'C047246', 'D014280', 'D020849', 'D014221', 'C523798',
       'C022172', 'C025462', 'D011441', 'C061300', 'D014311', 'C004925',
       'D011192', 'C025589', 'C486781', 'C020174', 'D017967', 'C528128',
       'C043425', 'D004317', 'D012645', 'C016829', 'D004791', 'D001151',
       'D010662', 'D008694', 'D019284', 'C103207', 'C403304', 'D004113',
       'D011137', 'D019833', 'D053260', 'C544261', 'C523184', 'D001205',
       'D004221', 'C031389', 'D010575', 'D004726', 'D015655', 'D010894',
       'D007631', 'C007836', 'C045463', 'D012834', 'D011810', 'C506265',
       'D010634', 'D000082', 'C058305', 'C568376', 'C010327', 'C023036',
       'D015019', 'C000602704', 'D017239', 'C023336', 'C493272',
       'D000433', 'D014527', 'D006046', 'C018021', 'D001152', 'C013038',
       'C030940', 'C528002', 'D005472', 'C029892', 'D004958', 'D007501',
       'C006632', 'C059141', 'C005445', 'D014544', 'D000393', 'D010672',
       'D000431', 'C545476', 'D002945', 'D004008', 'D006854', 'D018021',
       'D003976', 'C505646', 'C089595', 'D012964', 'C406082', 'C006780',
       'D010655', 'D020245', 'C558013', 'C023035', 'C026285', 'C015559',
       'D013882', 'C510003', 'C017296', 'D009285', 'C086401', 'D015124',
       'C009006', 'D009585', 'C039674', 'C049584', 'D005473', 'C027296',
       'C570897', 'C009238', 'D000638', 'D004786', 'D003907', 'D043371',
       'D008748', 'C483909', 'D016685', 'C009007', 'C473643', 'C105260',
       'D010938', 'D002166', 'C028473', 'D013759', 'C004363', 'C480342',
       'D014631', 'D014812', 'D015735', 'D009538', 'C030272', 'C447119',
       'C066471', 'C584509', 'D010081', 'D005020', 'D008627', 'C116664',
       'D037742', 'C076994', 'C432165', 'C000944', 'D011188', 'D019772',
       'D014996', 'C000593977', 'D016578', 'C410959', 'D016650',
       'C082360', 'D015232', 'D026023', 'D013578', 'D014451', 'D001104',
       'D019946', 'C572491', 'C010902', 'D011522', 'D003561', 'C047806',
       'D003634', 'D012176', 'C009277', 'D010476', 'D007545', 'C503700',
       'D007840'], dtype=object)

In [75]:
df_d.DiseaseID.unique()

array(['C2750090', 'C0342708', 'C0039292', ..., 'C1847013', 'C1836027',
       'C1840390'], dtype=object)

In [60]:
# Output an association file for each of chem and dis
np.savetxt(r'associations_c.txt', df_c.values, fmt='%s')
np.savetxt(r'associations_d.txt', df_d.values, fmt='%s')

In [61]:
# Merge these two into one single file
subprocess.call('cat associations_* > myassociations', shell=True)

0